body {
    background:green;
}

.wrapper {
	width: 60%;
  	border-radius: 15px;
  	border:1px solid black;
  	overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: green;
    font-family: Helvetica;
    border-style: hidden;
}

table td, table th {
    border:2px solid black;
}

table th {
    background: #FFCC00;
    padding-left: 8px;
    padding-right: 8px;
    height:30px;
}

tr:nth-child(even) {
	background: white;
}

tr:nth-child(odd) {
	background: lightgrey;
}

tr>td{
    font-size: 11px;
}

td {
    height: 40px;
}

.result{
    text-align: center;
    width: 5%;
}

.group{
    text-align:center;
    width:5%;
}

.firstteam{
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
}

.secondteam{
    text-align:left;
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
}

.scoreselect-disabled{
    background-color: #dcdcdc;
    width:15%;
    text-align: center;
    vertical-align: middle;
}

.scoreselect-enabled{
    color: green;
    text-align: center;
    vertical-align: middle;
}

.scoreselect-enabled>select {
    width: 35px;
    height: 35px;
    color: #008000;
}

.scoreselect-disabled>select {
    width: 35px;
    height: 35px;
    color: red;
}

td.button {
    width: 60px;
    height: 50px;
}

button:disabled {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: red;
    color: white;
    font-size: 8px;
}

button:enabled {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: green;
    color: white;
    font-size: 8px;
}

#Brasil:after{
    padding-left: 3px;
    padding-right: 3px;
    content: url("flags/br.png");
}

#Spain:after{
    padding-left: 3px;
    padding-right: 3px;
    content: url("flags/es.png");
}

#Italy:after{
    padding-left: 3px;
    padding-right: 3px;
    content: url("flags/it.png");
}

#Argentina:after{
    padding-left: 3px;
    padding-right: 3px;
    content: url("flags/ar.png");
}

#Germany:after{
    padding-left: 3px;
    padding-right: 3px;
    content: url("flags/de.png");
}

#Mexico:before{
    padding-left: 3px;
    padding-right: 3px;
    content: url("flags/mx.png");
}

#Netherlands:before{
    padding-left:3px;
    padding-right: 3px;
    content: url("flags/nl.png");
}

#England:before{
    padding-left:3px;
    padding-right: 3px;
    content: url("flags/england.png");
}

#Bosnia:before{
    padding-left:3px;
    padding-right: 3px;
    content: url("flags/ba.png");
}

#Portugal:before{
    padding-left:3px;
    padding-right: 3px;
    content: url("flags/pt.png");
}